{% extends "base.html" %}
{% block main %}
    <section class="formulaire">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username</label>
            <input required id="username" type="text" name="username">
            <label for="password">Password</label>
            <input required id="password" type="password" name="password">
            <input type="submit" value="Se connecter">
        </form>
    </section>
{% endblock %}